@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.spatial {
  background-color: rgba(211, 224, 250, 0.709);
  backdrop-filter: blur(20px);
}
/* li {
  position: relative;
  color: gray;
  letter-spacing: 0.5px;
}

li::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -15px;
}
li:hover::after {
  width: 100%;
} */
