@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* .spatial {
  background-color: rgba(223, 230, 232, 0.709);
  backdrop-filter: blur(20px);
} */

.header-icons {
  @apply flex flex-col items-center justify-center gap-2 basis-1/5 pb-10;
}
.list {
  @apply basis-1/5 text-center;
}

li {
  position: relative;
  color: gray;
  letter-spacing: 0.5px;
}

li::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -15px;
}
li:hover::after {
  width: 100%;
}
