@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.spatial {
  background-color: rgba(135, 140, 141, 0.709);
  backdrop-filter: blur(30px);
}

.header-icons {
  @apply flex flex-col items-center justify-center gap-2 basis-1/5 pb-10 cursor-pointer;
}
.list {
  @apply basis-1/5 text-center;
}

.under-line {
  border-bottom: 2px solid gray;
}

.selected {
  @apply font-extrabold;
}

input::placeholder {
  font-weight: bold;
  color: black;
}

li {
  position: relative;
  color: gray;
  letter-spacing: 0.5px;
}

li::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -15px;
}
li:hover::after {
  width: 100%;
}
